h1{
    color: #F5FFFA ;
    text-align: center;
}

h2{
    color: #F5FFFA
	
    ;

}

h3{
	color: #F5FFFA ;
}

body{
    font-size: 25px;
    background-color: #90EE90;
    margin: 10px;
    padding: 10px;
    border: solid 3px #006400;
}

img{
    width: 30%;
    display: block;
    margin: auto;
    
}

iframe{
    display: block;
    margin: auto;
    width: 30%;
}