h1{
    color: #90EE90 ;
    text-align: center;
}

h2{
    color: #90EE90;
	
    ;

}

h3{
	color:#90EE90 ;
	text-align: center;
}

a{ 
	color: #90EE90;
	text-align: center;
}

h3{
	color: #90EE90 ;
}

body{
    font-size: 25px;
    background-color: #F0FFFF;
    margin: 10px;
    padding: 10px;
    border: solid 3px #006400;
}

img{
    width: 70%%;
    display: block;
    margin: auto;
	height: 35%;
    
}

iframe{
    display: block;
    margin: auto;
    width: 30%;
}

footer{
	background-color: #006400;
	color: #F0FFFF;
	text-align: center;
	height: 80%;

}
